.footer {
  background-color: #efefef;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

.heroImage {
  width: 100vw;
  height: 450px;
  z-index: 1;
  position: relative;
  background-color: red;
}
